* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background:linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
  // background: linear-gradient(
  //   89.7deg,
  //   rgb(0, 0, 0) -10.7%,
  //   rgb(53, 92, 125) 88.8%
  // );
  overflow-x: hidden;
}

#card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  &-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 18px;
    width: 80%;
    & .card {
      background-color: white;
      box-sizing: border-box;
      width: 350px;
      // height: 850px;
      margin: 10px;
      overflow: hidden;
      & img {
        width: 100%;
        cursor: pointer;
        &:hover {
          transform: scale(1.02);
          transition: 0.6s;
        }
      }
      & h1 {
        text-align: center;
        margin: 8px;
      }
      & p {
        font-size: 20px;
        line-height: 23px;
        margin: 8px;
      }
      & h6 {
        font-size: 18px;
        line-height: 31px;
        margin: 8px;
      }
    }
  }
}
.navbar {
  width: 100vw;
  // background:linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
  // margin-bottom: 50px;
  // color: black;
  .ss{
    margin: 0;
    .child{
      background-color:white;
      // position: fixed;
      width: 250px;
      /* margin-left: 20px ; */
      // margin-top: 5px;
      cursor: pointer;
      z-index:1;
      position: absolute;
     
    }
    .search {
      /* position: fixed; */
      /* width: 100%; */
      /* height: 22px; */
      width: 0px !important;
      
    position: relative;
    left: 45% ;
    margin-bottom: 10px;
      // margin-left:50.5vw;;
      /* margin-bottom: 20px; */
      width: 100vw;
      /* background-color:white; */

     .con{
      display: flex;
      width: 50vw;
     
input{
  &:focus {
    outline: 0;
    // border: unset ;
  }
  &:active {
    outline: 0;
    // border: unset;
  }
}
button {  
  width: 112px;
  height: 33px;
  border-radius: 11px;
  position: relative;
  top: 20px;
  left: 5px;
}
}    
     }
     @media only screen and (max-width: 490px) {
      .search{
        position: relative;
        left: 20% ;
      }
    
   
  }
}
   
     }
    
input{
  width: 250px;
  height: 35px;
 margin-top: 20px;
 border-radius: 7px;
}

#Search-poster{
 width: 100vw;
//  background-color: aqua;
 display: flex;
 justify-content: center;
 img{
  width: 80%;
  height: 500px;
  margin: 10px;
 }
}
h1{
  text-align: center;
  margin:10px;
}